fastapi
gunicorn
uvicorn[standard]
sqlalchemy
psycopg2-binary
bcrypt==3.2.2
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic

aiofiles
cloudinary
python-multipart
google-auth
google-auth-oauthlib
requests
supabase
